@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');

.join-container {
  background-color: #e8eeee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.join-box {
  background-color: #f5f7f7;
  width: 420px;
  padding: 50px 40px 60px;
  border-radius: 25px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

/* Logo and Title */
.join-logo {
  position: absolute;
  top: 25px;
  left: 35px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.join-logo img {
  width: 45px;
  height: 45px;
}

.join-logo h1 {
  font-size: 22px;
  color: #08979d;
  margin: 0;
}

/* Heading */
.join-title {
  font-size: 32px;
  font-weight: 700;
  color: #000;
  margin-top: 90px;
  margin-bottom: 40px;
}

/* Buttons */
.join-btn {
  display: block;
  width: 240px;
  padding: 15px 0;
  margin: 15px auto;
  font-size: 20px;
  font-weight: 700;
  color: #009688;
  border: 2px solid #009688;
  border-radius: 40px;
  background-color: white;
  cursor: pointer;
  transition: all 0.25s ease;
}

.join-btn:hover {
  background: #b2dfdb;
      color: #004d40;
  box-shadow: 0 4px 10px rgba(11, 158, 163, 0.3);
}

.join-btn.selected {
  background-color: #009688;
  color: #bfe4e4;
  box-shadow: 0 0 5px rgba(0, 150, 136, 0.3);
}
