* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f5f7f7;
}

/* Main Container */
.login-container {
  width: 480px;
  margin: 60px auto;
  background: #fff;
  padding: 40px 45px;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0,0,0,0.1);
  text-align: center;
}

/* Logo */
.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.login-logo {
  width: 45px;
}

.brand {
  color: #009688;
  font-size: 26px;
  font-weight: 600;
}

/* Title */
.login-title {
  margin: 20px 0 25px;
  font-size: 22px;
  font-weight: 600;
  color: #111;
}

/* Role Buttons */
.role-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.role {
  padding: 10px 25px;
  border-radius: 25px;
  border: 2px solid #009688;
  background: #fff;
  color: #009688;
  cursor: pointer;
  transition: 0.3s;
}

.role.active {
  background: #009688;
  color: #fff;
}

/* Form */
.login-form input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  outline: none;
  font-size: 15px;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.eye-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-75%);
  font-size: 20px;
  color: #666;
  cursor: pointer;
}

/* Remember me */
.remember-box {
  /* display: flex; */
  /* align-items: center; */
  margin-bottom: 20px;
  font-size: 14px;
  width: 60%;
}

.remember-box input {
  margin-right: 6px;
}

.login-btn {
  width: 100%;
  border: none;
  background: #009688;
  padding: 13px;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #007f73;
  color: #000000;
}
.role:hover {
  background: #b2dfdb;
      color: #004d40;
}

.forgot {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  color: #009688;
  text-decoration: none;
}
